/.idea

# rohan - ignore
*.log
.env
.venv
.coverage
.DS_Store
htmlcov
env/
venv/
ENV/
env.bak/
venv.bak/
nohup.out
/service/__pycache__/
API/__pycache__/
__pycache__/
/logs/debug.log
yaatra/settings.py